/* ABOUT.STYL ======================================= */
#about {
  height: 100px;
  background: darkBlue;
}
#about-section {
  background: darkBlue;
  background: -webkit-gradient(linear, left top, right top, from(darkBlue), color-stop(53%, darkBlue), color-stop(53%, lightGray), to(lightGray));
  background: linear-gradient(to right, darkBlue 0%, darkBlue 53%, lightGray 53%, lightGray 100%);
}
#about-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}
#about-section .about {
  position: relative;
  background: lightGray;
  width: 60%;
  margin-left: auto;
  padding: 170px 0 300px 200px;
}
#about-section .about p {
  font-size: 15px;
  font-family: font2;
  line-height: 30px;
}
#about-section .about .about__bg {
  position: absolute;
  left: -300px;
  top: 50px;
  width: 517px;
  height: 332px;
  background: url("../img/about-bg.svg") center no-repeat;
  background-size: 517px;
  z-index: 5;
}
#about-section .about .about__arrow {
  position: absolute;
  left: 370px;
  bottom: -105px;
  width: 119px;
  height: 97px;
  background: url("../img/icons/icon-arrow.svg") center no-repeat;
  background-size: 119px;
  z-index: 7;
}
#about-section .about .about__img1,
#about-section .about .about__img2 {
  position: absolute;
  overflow: hidden;
  z-index: 6;
}
#about-section .about .about__img1 {
  width: 475px;
  height: 317px;
  top: 150px;
  left: -450px;
}
#about-section .about .about__img2 {
  width: 401px;
  height: 261px;
  bottom: -100px;
  left: 0;
}
