/* QUERY.STYL ======================================= */

@media only screen and (max-width: 1401px), only screen and (max-device-width: 1401px) {

    .heroDate {
        font-size: 20px
        margin: 0px 120px 200px 0
    }

    .sponsors-wrap .container {
        width: 1100px
    }

}


@media only screen and (max-width: 1201px), only screen and (max-device-width: 1201px) {

    .container {
        width: 960px
    }
    .sponsors-wrap .container {
        width: 880px
    }


    #about .about__event img {
        left: -120px
    }
    #numbers .numbers .numbers__item {
        text-align: center
    }
    .heroDate {
        font-size: 20px
        margin: 0px 90px 200px 0
    }

    #location .location__img1 {
        right: 0
    }

    #location .location__img2 {
        bottom: -340px
    }
    .sectionFiller.sectionFiller--white {
        height 280px
    }



}/* media end */



@media only screen and (max-width: 981px), only screen and (max-device-width: 981px) {

    .mobile-hide {
        display: none
    }
    .mobile-show {
        display: block
    }

    .section .container {
        flex-flow: column nowrap
        width: 90%
        /* iOS 11 */
        padding-left: constant(safe-area-inset-left)
        padding-right: constant(safe-area-inset-right)
        /* iOS 11.2+ */
        padding-left: env(safe-area-inset-left)
        padding-right: env(safe-area-inset-right)
    }



    .navBar {
        position: fixed
        padding-top: 0
        padding: 0 5%
        box-sizing: border-box
    }
    .navBar__nav {
        position: fixed
        top: 0
        right 0
        transform: translate3d(120%, 0, 0)
        width: 100vw
        height: 100vh
        background: #0f1f31
        display: flex
        justify-content: center
        align-items: center
    }
    .navBar .navBar__logo {
        width: 51px
        height 34px
        position: relative
        z-index: 5
    }
    .navBar .navBar__logo svg {
        width: 40px
        height 34px
    }
    .navBar .navBar__nav ul {
        flex-flow: column nowrap
        width: 100%
    }
    .navBar .navBar__nav ul li {
        margin-bottom: 20px
        margin-right: 0
        display: flex
        justify-content: center
    }
    .navBar .navBar__nav ul li .nav__link {
        height: 40px
    }
    .navBar .navBar__nav ul li .nav__link.active:before {
        display: none
    }
    .navBar .navBar__btn,
    .navBar .navBar__close {
        display: block
    }
    .section#location,
    .section#schedule,
    .section#speakers,
    .section#sponsors,
    .section#tickets {
        padding-top: 10px
    }




    .heroBox .heroBox__date .heroBox__date--text {
        font-size: 12px
    }
    .heroBox .heroBox__heading {
        font-size: 20px
        margin: 20px 0
    }
    .btn {
        padding: 10px 18px
    }

    h1 {
        margin: 60px 0 40px 0
    }
    h1.small {
        font-size: 18px
    }
    h1.small:after {
        width: 100%
    }
    .title-desc {
        font-size: 10px
    }





    #about {
        display: none
    }
    #about-section {
        background: darkBlue
        background: -webkit-gradient(linear, top bottom, right bottom, from(darkBlue), color-stop(12%, darkBlue), color-stop(12%, lightGray), to(lightGray))
        background: linear-gradient(to bottom, darkBlue 0%, darkBlue 12%, lightGray 12%, lightGray 100%)
    }
    #about-section .about {
        width: 100%
        padding: 300px 0 200px 0
        margin: 0
        background: transparent
    }
    #about-section .about h1,
    #about-section .about p {
        position relative
        z-index 6
    }
    #about-section .about .about__img1 {
        width: 100%
        height: auto
        top: 0
        left: -30px
    }
    #about-section .about .about__img2 {
        width: 100%
        height: auto
        bottom: -120px
        left: -30px 
    }
    #about-section .about .about__arrow {
        left: auto
        right: 0
        bottom: -120px
    }
    #about-section .about .about__bg {
        width: 150px
        height 150px
        background: url(../img/about-bg-mobile.svg) center no-repeat
        background-size: 150px
        top: 150px
        right 0
        left auto
    }



    #speakers .speakers-wrap {
        flex-flow: column nowrap
    }
    #speakers .speaker {
        width: 100%
    }



    .small-nav1 .small-nav1__item,
    .small-nav1 .small-nav2__item,
    .small-nav1 .small-nav3__item,
    .small-nav2 .small-nav1__item,
    .small-nav2 .small-nav2__item,
    .small-nav2 .small-nav3__item,
    .small-nav3 .small-nav1__item,
    .small-nav3 .small-nav2__item,
    .small-nav3 .small-nav3__item {
        font-size: 13px
    }

    #schedule .agenda {
        width: 100%
        padding: 0 0 0 30px
    }
    #schedule .agenda .agenda__title {
        font-size: 18px
    }
    



    #download .container {
        flex-flow: column-reverse nowrap
        padding-bottom: 100px
    }
    #download .download__video,
    #download .heroBox {
        width: 100%
    }
    #download .download__video {
        height: auto
        margin-top: 20px
    }
    #download .download__row {
        position: absolute
        bottom: 50px
        text-align: center
    }




    #tickets .ticketsBot .tickets__cardWrap {
        margin-top: 20px
    }



    #testimonials .testimonials {
        flex-flow: column nowrap
    }
    #testimonials .testimonials-item {
        width: 100%
        margin: 20px 0
    }



    #tickets .tickets iframe {
        height: 406px
    }



    #previous .container {
        width: 100%
    }
    #previous h2 {
        margin-left: 5%
        margin-right: 5%
    }
    #previous .title-desc {
        margin-left: 5%
        margin-right: 5%
    }
    #previous .previous__nav {
        margin-left: 5%
        margin-right: 5%
    }
    #previous .previous {
        width: 100%
    }
    #previous .previous .slideshow {
        width: 100%
        height: 450px
    }




    #who {
        background: lightGray
    }
    #who .who {
        width: 100%
        padding: 60px 0
    }
    #who .who__list,
    #who .who__listExpanded,
    #who .who__listRow {
        flex-flow: row wrap
        justify-content: space-around
        margin-top: 0
    }
    #who .who__list {
        margin-top: 40px
    }
    #who .who__list-item {
        margin: 0 10px 30px 10px
    }
    #who .who__list-btn {
        bottom: 0
    }
    #howto .howtoBg {
        margin-top: -260px
    }




    #howto .howto {
        position relative
        z-index 2
    }
    #howto .howto .howto__buttons {
        flex-flow: column nowrap
    }
    #howto .howto .howto__buttons .howtoBtn {
        margin: 0 auto
    }
    #howto .howto .howto__buttons .howtoBtn:first-child {
        margin-bottom: 15px
    }


    #testimonials .container {
        margin: 0
        width: 100%
        background-image: none
    }
    #testimonials .testimonials-item .testimonials__image {
        display: none
    }
    #testimonials .testimonials-item .testimonials__image--mobile {
        display: block
        margin: 0 auto
    }
    #testimonials .testimonialsBox {
        width: 100%
        margin-top: -10px
    }
    #testimonials .testimonials .testimonials-item:nth-child(odd) .testimonials__top,
    #testimonials .testimonials .testimonials-item:nth-child(even) .testimonials__top {
        margin: 0 16px 16px 16px
        text-align: center
    }
    #testimonials .testimonials-item:last-child .testimonials__comment,
    #testimonials .testimonials-item:last-child {
        margin-bottom: 0
    }





    #location {
        padding 250px 0 0 0 !important
        overflow visible
    }
    #location .location {
        flex-flow: column nowrap
    }
    #location .location:before {
        width: 100%
        background-size: cover
        top: -260px
        left: 0
    }
    #location .location .location__map,
    #location .location .location__details {
        width: 100%
    }
    #location .location__map {
        margin-top: 50px
        margin-left: 0
    }
    #location .location__img1,
    #location .location__img2 {
        position relative
    }
    #location .location__img1 {
        max-width: 100%
        right: 0
        bottom: -30px
    }
    #location .location__img2 {
        max-width: 200px
        max-height: 420px
        left: 0
        bottom: -60px
    }
    .sectionFiller.sectionFiller--white {
        display: none
    }
    
    .location .location__title span:last-child:before {
        width: 130px
    }



    body.crypto-payment #crypto-payment {
        width: 100%
        overflow: auto
    }

    #crypto-payment .crypto__wrapper {
        width: 100%
        padding: 0 20px
    }
    #crypto-payment .currencies {
        position relative
    }
    #crypto-payment #crypto-currencies {
        width: 320px
        margin: 0 auto
    }
    #crypto-payment .currencies__title {
        text-align: center
        padding-left: 0
    }
    #crypto-payment .currency {
        margin-right: 0
        margin: 10px 20px
    }
    #crypto-payment .crypto-result {
        margin: 0 auto
        padding-bottom: 35px
    }
    #crypto-payment .crypto-checkout {
        transform: none
        left auto
        right auto
        top 15px
        position relative
        width: calc(100% - 20px)
        margin: 0 auto 15px auto
    }







    #footer .container {
        flex-flow: column nowrap
    }
    #footer .footer__col,
    #footer .footer__col:first-child,
    #footer .footer__col:last-child,
    #footer .footer__col:nth-child(2) {
        width: 100%
        flexbox()
        flex-flow: column nowrap
        align-items: center
    }

    #footer .footer__col:nth-child(2),
    #footer .footer__col:nth-child(3),
    #footer .footer__col:nth-child(4) {
        margin: 35px 0
    }
    #footer .footer__logo {
        margin: 0 auto
    }
    #footer .footer__logo-bg {
        top: -80px
        background-size: contain
        width: 100%
        background-position: center
    }
    #footer .footer-social {
        justify-content: space-around
        max-width: 400px
        margin: 30px auto 0 auto
    }
    #footer .footer-social a {
        margin: 0
    }



    #codeOfconduct,
    #attendees {
        width: 90%
        height: 90%
        top: 5%
        bottom: 5%
        left: 5%
        right: 5%
    }
    #codeOfconduct h2,
    #attendees h2 {
        font-size: 20px
    }

}/* media end */










@media only screen and (max-width: 850px), only screen and (max-device-width: 850px) {



    #schedule .agenda-wrap {
        flex-flow: column nowrap
    }
    #schedule .agenda {
        margin-bottom: 50px
    }
    #schedule .agenda .agenda__title {
        text-align: center
        width: 80%
    }
    #schedule .agenda .agenda__title:before {
        display: none
    }
    .agenda-nav-wrap {
        display: block
    }
    #day1, #day2 {
        display: none
    }

    .sponsors-wrap .sponsors .sponsors__group .sponsors__item:last-child {
        margin-right: 0
    }
    .sponsors-wrap .sponsors .sponsors__group {
        margin: 0 0 50px 0
        justify-content: flex-start
    }
    .sponsors-wrap .sponsors .sponsors__group .sponsors__item {
        min-width 90px
    }
    .sponsorsSlider .sponsorsSlider__btn {
        display: none
    }


    #sponsors {
        background: darkBlue
    }
    #sponsors .title-desc {
        color: white
    }
    #sponsors .sponsors-wrap {
        background: lightGray
        margin-top: 50px
    }
    #sponsors .sponsors-wrap .sponsors-row {
        justify-content: center
    }
    #sponsors .sponsors-wrap .sponsors-row .sponsors {
        align-items: center
    }
    #sponsors .sponsorsSlider {
        flexbox()
        flex-flow: row wrap
        justify-content: space-between
        align-items: center
    }
    #sponsors .sponsorsSlider .sponsors__item {
        margin: 10px
    }


    #jobs {
        padding: 20px 0
    }
    #note .back-to-top {
        right: 10px
        bottom: 10px
    }

}/* media end */


@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {

    #hero {
        background: darkBlue url(../img/top-bg-mobile.svg) center no-repeat
    }
    .heroBox .heroBox__date {
        left: auto
        bottom: 0px
        width: 100%
    }
    .heroBox .heroBox__date .heroBox__date--line {
        background: url(../img/date-bg-mobile.svg) center no-repeat
        background-size: contain
    }
    .heroBox .heroBox__date .heroBox__date--text {
        font-size: 12px
        min-width: 120px
    }
    .heroBox .heroBox__heading {
        font-size: 20px
        margin: 20px 0
    }
    .heroBox .heroBox__wrap {
        font-size: 20px
        line-height: 30px
    }
    .heroBox .heroBox__heading strong {
        font-size: 40px
    }
    .heroDate {
        display: none
    }
    .btn {
        padding: 10px 15px
    }
    h1 {
        margin: 60px 0 40px 0
        font-size: 30px
    }
    h1:after {
        width: 140px
    }
    h1.small {
        font-size: 30px
    }
    h1.small:after {
        width: 100%
    }
    .title-desc {
        font-size: 10px
    }






    #tickets .tickets iframe {
        height: 487px
    }



    #previous .previous .slideshow {
        height: 250px
    }


    .sponsors-wrap .sponsors .sponsors__group {
        flex-flow: row wrap
        justify-content: flex-start
    }
    .sponsors-wrap .sponsors .sponsors__group .sponsors__item {
        margin-bottom: 30px
    }


    .title-desc {
        font-size: 15px
    }

    #tickets .container {
        padding: 0
        background: lightGray
    }
    #tickets .ticket {
        padding: 35px 15px
    }
    #tickets .ticket .ticket__icon {
        margin-right: 15px
    }
    #tickets .ticket .ticket__mid {
        flex-flow: column nowrap
        align-items: flex-start
    }
    #tickets .ticket .ticket__name,
    #tickets .ticket .ticket__price {
        flex: 1 1 auto
    }
    #tickets .ticket .ticket__price .ticket__price-top {
        margin: 13px 0
    }
    #tickets .ticket .ticket__quantity {
        margin-left: 15px
    }
    .select select {
        min-width: 50px
        padding: 10px
    }
    #tickets .ticketsBot {
        flex-flow: column nowrap
        align-items: center
    }
    #tickets .ticketsBot .tickets__cards {
        flex-flow: row wrap
        justify-content: space-around
        max-width: 100%
        padding: 0
        height auto
    }
    #tickets .ticketsBot .tickets__cards img {
        max-width: 70px
        margin: 0 10px 20px 10px
    }
    #tickets .ticketsBot .tickets__buttons {
        min-width: 100%
    }




    #newsletter {
        padding: 50px 0
    }
    #newsletter .container h1 {
        font-size: 30px
    }



    .location .location__title span:last-child:before {
        width: 70px
    }




    #attendee__list td {
        font-size: 14px !important
        padding-bottom: 15px
    }


    #note {
        padding: 100px 0
    }
    #note .container p {
        font-size: 16px
    }
    #note .container ul li {
        font-size: 16px
    }
    #note .container h2 {
        font-size: 24px
    }
    #note .container h2.job-title {
        font-size: 30px
    }


}/* media end */


@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {

    #about-section .about {
        padding: 200px 0
    }

}
