/* ABOUT.STYL ======================================= */

#about
    height 100px
    background: darkBlue

#about-section
    background: darkBlue
    background: -moz-linear-gradient(left, darkBlue 0%, darkBlue 53%, lightGray 53%, lightGray 100%)
    background:linear-gradient(to right, darkBlue 0%, darkBlue 53%, lightGray 53%, lightGray 100%)

    .container
        flexbox()
        flex-flow: column nowrap
        position: relative

    .about
        position relative
        background: lightGray
        width: 60%
        margin-left: auto
        padding: 170px 0 300px 200px
        box-sizing()

        p
            font-size: 15px
            font-family: font2
            line-height: 30px

        .about__bg
            position absolute
            left: -300px
            top: 50px
            width: 517px
            height 332px
            background: url("../img/about-bg.svg") center no-repeat
            background-size: 517px
            z-index 5

        .about__arrow
            position absolute
            left: 370px
            bottom: -105px
            width: 119px
            height 97px
            background: url("../img/icons/icon-arrow.svg") center no-repeat
            background-size: 119px
            z-index 7

        .about__img1,
        .about__img2
            position: absolute
            overflow hidden
            z-index 6

        .about__img1
            width: 475px
            height 317px
            top: 150px
            left -450px

        .about__img2
            width: 401px
            height 261px
            bottom: -100px
            left 0