/* HERO.STYL ======================================= */

#hero
    background: darkBlue url(../img/top-bg.svg) center no-repeat
    background-size: contain
    height: 100vh
    flexbox()
    flex-center()
    position: relative
    z-index: 1
    color: colorWhite


.heroBox
    flexbox()
    flex-flow: column nowrap
    align-items: flex-start

    .heroBox__date
        flexbox()
        align-items: center
        position relative
        bottom: 50px
        left 150px

        .heroBox__date--text
            font-family: font2
            font-size: 17px
            font-weight: 600
            color: darkBlue
            background: white
            padding: 10px 20px

        .heroBox__date--line
            width: 330px
            height: 20px
            background: url(../img/date-bg.svg) center no-repeat
            background-size: contain
            margin-right: 10px

    .heroBox__heading
        font-size: 32px
        font-weight: 300
        margin: 30px 0 15px 0
        line-height: 60px

        strong
            font-size: 64px
            font-weight: 600

    .heroBox__wrap
        flexbox()
        align-items: center
        font-size: 32px
        font-weight: 300

    .heroBox__heading--line
        width: 76px
        height 5px
        background: white
        margin-left: 30px

    .heroBox__text
        font-size: 14px
        font-weight: 300
        color: white
        line-height: 1.5
        margin-bottom: 20px
        max-width 400px

    .heroBox__buttons
        flexbox()
        align-items: center

        .heroBox__buttons-spacer
            margin: 0 10px 0 24px

