/* PREVOUIS.STYL ======================================= */


#previous
    padding: 20px 0
    background: lightGray
    background: -moz-linear-gradient(top, lightGray 0%, lightGray 70%, darkBlue 70%, darkBlue 100%)
    background:linear-gradient(to bottom, lightGray 0%, lightGray 70%, darkBlue 70%, darkBlue 100%)

.previous
    flexbox()
    flex-flow: row nowrap
    width: 100%
    margin: 50px auto 0 auto
    overflow: hidden
    height: 580px

    .previousItem
        position relative
        margin-top: 20px
        width: 25%
        height: auto
        background: colorGray02
        overflow hidden

        &:nth-child(odd)
            align-self: flex-start
            height 400px
        &:nth-child(even)
            align-self: flex-end
            height 540px

        img
            object-fit: cover
            max-width: fit-content

        a
            width: 100%
            height: 100%
            flexbox()
            flex-center()
            position: relative

            &:hover .previous-overlay
                opacity: 1
                background-color: colorBlack03

            .previous-overlay
                position absolute
                opacity: 0
                transition(.5s)
                background-color: transparent
                flexbox()
                flex-center()
                width: 100%
                height: 100%
                z-index 1


                .previous__btn
                    flexbox()
                    flex-center()
                    flex-flow: column nowrap

                    p
                        color: colorWhite
                        font-size: 16px
                        font-weight: 600
                        margin-top: 20px
                        text-shadow: 0 0 10px colorBlack

