/* SPEAKERS.STYL ======================================= */

#speakers
    background: darkBlue url(../img/speakers-bg.svg) top 230px center no-repeat
    background-size: 907px
    padding-bottom: 50px
    color: colorWhite

    .container
        flexbox()
        flex-flow: column nowrap
        text-align: center

        h1
            color: colorWhite

    .speakers-content
        display: none

    .speakers-wrap
        flexbox()
        flex-flow: row wrap

    .more-comming
        margin: 50px auto
        width: 100%
        text-align: center


    .speaker
        flexbox()
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center
        width: 33%
        box-sizing()
        padding: 50px 20px
        text-align: center

        &:nth-child(1n)
            .speaker__image
                border: 10px solid blue
        &:nth-child(2n)
            .speaker__image
                border: 10px solid green
        &:nth-child(3n)
            .speaker__image
                border: 10px solid tiel
        &:nth-child(4n)
            .speaker__image
                border: 10px solid red
        &:nth-child(5n)
            .speaker__image
                border: 10px solid yellow

        .speaker__image
            width: 160px
            height: 160px
            border-radius: 100%
            overflow: hidden

            img
                filter: grayscale()

        .speaker__name
            letter-spacing: 0.5px
            text-transform: uppercase
            color: colorWhite
            font-size: 15px
            font-weight: 700
            margin: 25px 0 15px 0

        .speaker__title
            font-family: font2
            font-size: 12px
            color: colorWhite
            line-height: 1.7

            span
                font-family: font2
                color: colorWhite

        .btn.blue.small
            margin-top: 30px


        .speaker__more
            display: none


        .speaker__social
            margin: 20px 0
            flexbox()
            flex-center()

            .social
                margin: 0 30px

                &:hover svg path
                    fill green

                svg path
                    fill: white
                    transition(.3s)

        .social__bio
            margin-top: 20px
            font-size: 14px
            line-height: 25px
            font-family: font2
            color: colorWhite
