/* TESTIMONIALS.STYL ======================================= */

#testimonials
    overflow-x: hidden
    background: darkBlue
    background: -moz-linear-gradient(top, darkBlue 0%, darkBlue 75%, lightGray 75%, lightGray 100%)
    background: linear-gradient(to top, darkBlue 0%, darkBlue 75%, lightGray 75%, lightGray 100%)

    .container
        position relative
        background: url(../img/testimonials-bg.svg) center no-repeat
        background-size: auto

    .testimonials
        flexbox()
        flex-flow: column nowrap

        & .testimonials-item:nth-child(odd)

            .testimonials__image
                right: -150px

            .testimonials__top
                margin: 0 0 0 35px

            .testimonialsBox
                padding: 35px 75px 35px 35px
                background-position: right 20px top 40px

                &:before
                    right 0
                    border-width: 0 0 50px 50px
                    border-color: transparent transparent blue transparent


        & .testimonials-item:nth-child(even)
            .testimonials__comment
                margin-left: auto

            .testimonials__image
                right: auto
                left - 150px

            .testimonials__top
                margin: 0 35px 0 auto

                .testimonials__title
                    color: white

            .testimonialsBox
                padding: 35px 35px 35px 75px
                background-position left 20px top 40px

                &:before
                    left 0
                    border-width: 50px 0 0 50px
                    border-color: transparent transparent transparent blue



    .testimonials-item
        flexbox()
        position: relative
        min-height: 460px
        align-items: flex-end


        .testimonials__comment
            flexbox()
            flex-flow: column nowrap
            margin-bottom: 80px
            position: relative
            z-index: 2

        .testimonials__top
            flexbox()
            flex-flow: column nowrap
            text-align: left

            .testimonials__name
                font-size: 17px
                font-weight: 700
                color: blue
                margin-bottom: 5px

            .testimonials__title
                font-size: 15px
                font-family: font2
                color: black

        .testimonials__image--mobile
            display: none

        .testimonials__image
            width: 680px
            height 460px
            position: absolute
            bottom: 0
            overflow: hidden

            img
                object-fit: cover
                max-width fit-content



.testimonialsBox
    position relative
    width: 720px
    box-sizing()
    color: white
    font-family: font2
    font-size: 14px
    line-height: 29px
    margin-top: 20px
    background-color: blue
    background-image: url(../img/testimonialsQuote-bg.svg)
    background-repeat: no-repeat
    background-size: 32px

    &:before
        content: ''
        position: absolute
        width: 0
        height: 0
        border-style: solid
        top: -48px




