/* TESTIMONIALS.STYL ======================================= */

#testimonials
    .container
        position relative

    .testimonials
        flexbox()
        flex-flow: column nowrap

    .testimonials-item
        flexbox()

        .testemonials__comment
            flexbox()
            flex-flow: column nowrap

            .testemonials__name
                font-size: 17px
                font-weight: 700
                color: blue

            .testemonials__title
                font-size: 15px
                font-family: font2
                color: black

        .testemonials__image
            position relative



.testemonialsBox
    position relative
    background: blue
    width: 720px
    padding: 35px 75px 35px 35px
    box-sizing()
    color: white
    font-family: font2
    font-size: 14px
    line-height: 29px

    &.testemonialsBox--left,
    &.testemonialsBox--right
        &:before
            content: ''
            position: absolute
            width: 0
            height: 0
            border-style: solid
            top: -48px

    &.testemonialsBox--left
        &:before
            right 0
            border-width: 0 0 50px 50px
            border-color: transparent transparent blue transparent

    &.testemonialsBox--right
        &:before
            left 0
            border-width: 50px 0 0 50px
            border-color: transparent transparent transparent blue

