/* TICKETS.STYL ======================================= */

#tickets
    //padding-top: 100px
    padding: 100px 0
    background: lightGray

    .container
        border-radius(10px)
        background: colorWhite
        padding: 50px 70px 30px 70px
        box-sizing()

    h2
        margin-top: 0

    .title-desc
        font-family: font2

.tickets
    margin-top: 50px
    flexbox()
    flex-center()
    flex-flow: column nowrap


.ticketsBot
    flexbox()
    align-items: center
    justify-content: space-between

    .tickets__cardWrap,
    .tickets__cards,
    .tickets__buttons
        flexbox()

    .tickets__cardWrap
        flex-flow: column nowrap
        max-width: 500px
        flex: 1 1 auto

    .tickets__cards
        box-sizing()
        padding: 0 20px
        justify-content: space-between
        align-items: center
        height 36px

        img
            max-width 50px
            max-height 30px

        &:first-child
            margin-bottom: 15px

        &:last-child
            max-width: 300px

    .tickets__buttons
        min-width: 205px
        flex-flow: column nowrap

        .btn
            font-size: 15px
            font-weight: 500
            padding: 11px 16px

            &:first-child
                margin-bottom: 15px

        .btn.yellow
            &:hover svg path
                fill: white

            svg
                width: 20px
                height: 20px
                margin-right: 10px

                path
                    transition(.5s)
                    fill: yellow


.ticket
    width: 100%
    flexbox()
    align-items: center
    justify-content: flex-start
    border: 1px solid gray1
    border-radius(3px)
    box-sizing()
    padding: 40px 35px
    margin-bottom: 20px
    transition(.5s)

    &:nth-child(odd)
        &:hover
            border-color: green
        .select select:hover
            border-color: green
    &:nth-child(even)
        &:hover
            border-color: red
        .select select:hover
            border-color: red

    .ticket__icon
        width: 40px
        height 40px
        flex-shrink: 0
        margin-right: 50px

    .ticket__mid
        flexbox()
        align-items: center
        flex: 1 1 auto

    .ticket__name
        font-size: 20px
        font-weight: 600
        flex: 1 1 425px
        text-transform: capitalize

        &.ticket__name--green
            color: green
        &.ticket__name--red
            color: red

    .ticket__price
        flex: 1 1 390px

        .ticket__price-top,
        .ticket__price-bot
            font-family: font2
            font-weight: 400

        .ticket__price-top
            font-size: 15px
            color: black
            margin-bottom: 7px

        .ticket__price-bot
            font-size: 13px
            color: gray2

    .ticket__quatnity
        margin-left: 50px
        flexbox()
        flex-center()
