/* WHO.STYL ======================================= */

#who
    position relative
    background: darkBlue
    background: -moz-linear-gradient(left, lightGray 0%, lightGray 53%, darkBlue 53%, darkBlue 100%)
    background:linear-gradient(to right, lightGray 0%, lightGray 53%, darkBlue 53%, darkBlue 100%)
    z-index 10

.who
    position relative
    background: lightGray
    width: 70%
    margin-right: auto
    padding: 10px 60px 30px 0
    box-sizing()

    p
        font-size: 15px
        font-family: font2
        line-height: 30px

.who__list,
.who__listExpanded,
.who__listRow
    margin-top: 40px
    flexbox()
    align-items: center
    justify-content: space-between

    .who__list-item
        cursor pointer

        &:hover img
            filter: grayscale(0)
            opacity 1

        img
            filter: grayscale(100%)
            opacity .8
            transition(.3s)
            max-width: 110px
            max-height: 50px

.who__listExpanded
    display: none
    margin-top: 0
    width: 100%
    flex-flow: column nowrap

    .who__listRow
        width: 100%

        //remove when 5 sponsors in row
        justify-content: flex-start
        .who__list-item
            margin-right: 50px

            &:last-child
                margin-right: 0
                //remove when 5 sponsors in row





.who__list-btn
    flexbox()
    flex-center()
    position relative
    bottom: -50px

