/* COLOR-PALETE.STYL ======================================= */

color0 = transparent
colorBlack = #000
colorBlack03 = rgba(0, 0, 0, 0.3)
colorBlack06 = rgba(0, 0, 0, 0.6)
colorWhite = #fff
colorWhite03 = rgba(255, 255, 255, 0.3)
colorWhite06 = rgba(255, 255, 255, 0.6)

colorBlue = #017FFF
colorBlueLight = #2E88ED
colorBlueDark = #00287A

colorGray = #696969
colorGrayDark = #2A2A2A
colorGray02 = rgba(216, 216, 216, 0.2)

lightGray = #FAFAFA
gray1 = #E6E6E6
gray2 = #C0C0C0
blue = #017FFF
darkBlue = #092E82
green = #0FD895
tiel = #16CAD8
red = #FF697E
yellow = #FFCF6E

