/* GLOBAL.STYL ======================================= */


/* overwrites ========================== */
html, body, div, table, p, input
	/* color: colorGray5 */
	font-family: font1
	font-size: 14px

body
	background-color: #FAFAFA

.show
	display: block !important
.hide
	display: none !important
.desktop-hide
	display: none
.desktop-show
	display: block
.hidden
	visibility: hidden
.slide
	transform: translate3d(0, 0, 0) !important

.section
	margin: 0 auto

	&#speakers,
	&#schedule,
	&#sponsors
		padding-top: 100px


.sectionFiller
	width: 100%
	&.sectionFiller--darkBlue
		background: darkBlue
		height 170px
	&.sectionFiller--white
		background: lightGray
		height 280px

.container
	width: 1180px
	margin: 0 auto


.container-jumbo
	max-width: 1340px
	margin: 0 auto

.section
	width: 100%
	position: relative
	clear: both
