/* GLOBAL.STYL ======================================= */


/* overwrites ========================== */
html, body, div, table, p, input
	/* color: colorGray5 */
	font-family: font1
	font-size: 14px


.show
	display: block !important
.hide
	display: none !important
.desktop-hide
	display: none
.desktop-show
	display: block
.hidden
	visibility: hidden
.slide
	transform: translate3d(0, 0, 0) !important

.section
	margin: 0 auto

	&#speakers,
	&#schedule,
	&#sponsors
		padding-top: 50px

.container
	width: 1180px
	margin: 0 auto


.container-jumbo
	max-width: 1340px
	margin: 0 auto

.section
	width: 100%
	position: relative
	clear: both

#crypto-payment {
	display: none;
}

body.crypto-payment #crypto-payment {
	display: block;
}

body.crypto-payment .navBar,
body.crypto-payment #hero,
body.crypto-payment #about,
body.crypto-payment #who,
body.crypto-payment #speakers,
body.crypto-payment #schedule,
body.crypto-payment #tickets,
body.crypto-payment #previous,
body.crypto-payment #newsletter,
body.crypto-payment #location,
body.crypto-payment #howto,
body.crypto-payment #testimonials,
body.crypto-payment #sponsors
body.crypto-payment #footer {
	display: none;
}

#crypto-payment {
	position: fixed;
	background-color: #092e82;
	width: 100%;
	height: 100%;
}

.crypto__title {
	font-size: 42px;
	text-align: center;
	margin-top: 40px;
	color: white;
	font-weight: 600;
	margin-bottom: 40px;
}

#crypto-summary {
	max-width: 400px;
	margin: 10px auto 40px auto
}

.crypto__summary {
	font-size: 18px;
	color: white;
	line-height: 2;
	margin-bottom: 5px;
}

.crypto__total {
	border-top: 1px solid white;
	padding-top: 10px;
}

.crypto__total:after {
	content:" ";
	display:table;
	clear:both;
}

.crypto__prefix {
	float: left;
	font-size: 18px;
	color: white;
}

.crypto__value {
	float: right;
	font-size: 18px;
	color: white;
}

form {
	box-sizing: border-box;
	max-width: 400px;
	margin: 20px auto;
}

input {
	display: block;
	width: 100%;
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-bottom: 5px;
	border-bottom: 1px solid white;
	color: white;
	font-size: 22px;
	padding: 8px 6px;
	margin-bottom: 25px;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.summary__title,
.form__title {
	padding-left: 5px;
	letter-spacing: 0.5px;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	max-width: 400px;
	margin: 0 auto;
}

.currencies__title {
	display: none;
	padding-left: 5px;
	letter-spacing: 0.5px;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	margin-bottom: 20px;
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
}

#crypto-payment * {
	box-sizing: border-box;	
}

#crypto-currencies {
	display: none;
	width: 540px;
	margin: 0 auto;
}

#crypto-currencies:after {
	content:" ";
	display:table;
	clear:both;
}

.currencies {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.currency {
	cursor: pointer;
	float: left;
	width: 120px;
	height: 120px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
	position: relative;
	text-align: center;
	margin-right: 20px;
	transition(.3s);
}

.currency:hover {
	transition(.3s);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transform: translateY(-1px);	
}

.currency:last-child {
	margin-right: 0;
}

.price {
	position: absolute;
	font-weight: 800;
	bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.currency img {
	width: 54px;
	height: 54px;	
	margin-top: 20px;
}

.crypto-checkout {
	display: none;
	background-color: white;
	border-radius: 8px;
	max-width: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.crypto-icon {
	display: block;
	margin: 0 auto 20px auto;
	width: 100px;
	height: 100px;
}

.crypto-amount {
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	padding: 0 25px;
}

.crypto-fiat {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	padding: 0 25px;
}

.crypto-info {
	font-size: 18px;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 10px;
	padding: 0 25px;
}

#crypto-wallet {
	font-size: 20px;
	font-weight: 600;
	padding: 0 25px 25px 25px;
	text-align: center;
}

.crypto-header {
	background-color: #ebebeb;
	padding: 20px;
	margin-bottom: 35px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}

.crypto-result {
	text-align: center;
	max-width: 500px;
	padding: 0 25px;
	margin: 0 auto 35px auto;
	line-height: 1.5;
}

.crypto-image {
	width: 25px;
	height: 25px;
}

.crypto-qr {
	display: block;
	width: 100px;
	height: 100px;
	margin: 5px auto 25px auto;
}
