/* GLOBAL.STYL ======================================= */


/* overwrites ========================== */
html, body, div, table, p, input
	/* color: colorGray5 */
	font-family: font1
	font-size: 14px


.show
	display: block !important
.hide
	display: none !important
.desktop-hide
	display: none
.desktop-show
	display: block
.hidden
	visibility: hidden
.slide
	transform: translate3d(0, 0, 0) !important

.section
	margin: 0 auto

	&#speakers,
	&#schedule,
	&#sponsors
		padding-top: 50px

.container
	width: 1180px
	margin: 0 auto


.container-jumbo
	max-width: 1340px
	margin: 0 auto

.section
	width: 100%
	position: relative
	clear: both

#crypto-payment {
	display: none;
}

body.crypto-payment #crypto-payment {
	display: block;
}

body.crypto-payment .navBar,
body.crypto-payment #hero,
body.crypto-payment #about,
body.crypto-payment #who,
body.crypto-payment #speakers,
body.crypto-payment #schedule,
body.crypto-payment #tickets,
body.crypto-payment #previous,
body.crypto-payment #newsletter,
body.crypto-payment #location,
body.crypto-payment #howto,
body.crypto-payment #testimonials,
body.crypto-payment #sponsors
body.crypto-payment #footer {
	display: none;
}









